
<div class="col-xs-12 col-sm-8 col-md-9">
  <h2 class="text-center">{{$ctrl.phone.name}}</h2>
  <div class="row"><img ng-src="{{$ctrl.mainImageUrl}}" class="phone" /></div>

<div class="row"><ul class="phone-thumbs">
  <li ng-repeat="img in $ctrl.phone.images" class="col-xs-2">
    <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />
  </li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-4 col-md-3 ">
<p style="font-size:20px; color:white; padding:20px; margin-top:70px; background-color:#3399ff;">{{$ctrl.phone.description}}</p>
</div>

